@media screen and (min-width: 480px) {
	:root {
		font-size: calc(10px + (24 - 10) * (100vw - 480px) / (2000 - 480));
	}
}

@media screen and (min-width: 2000px) {
	:root {
		font-size: 24px;
	}
}

body {
   background-color: #282C34;
   color: white;
   font-family: "Roboto", sans-serif;
}

#qr{
	margin: 1em 1em 1em 1em;
}